
{% extends "MaciPageBundle::layout.html.twig" %}


{% block bodyTag %}<body id="bodyAdministration">{% endblock %}

{% block leftMenu %}

	<nav>{{ knp_menu_render('admin_left', {'currentClass': 'active'}) }}</nav>

{% endblock %}
