
{% extends "MaciPageBundle::layout.html.twig" %}


{% block bodyTag %}<body id="bodyAdministration">{% endblock %}

{% block leftMenu %}

	<nav>{{ render(controller('MaciAdminBundle:Default:nav')) }}</nav>

{% endblock %}
