
{% if label is not defined %}
{% set label = 'Edit' %}
{% endif %}

{% if btnxs is not defined %}
{% set btnxs = false %}
{% endif %}

{% if glyphicon is not defined %}
{% set glyphicon = 'glyphicon glyphicon-edit' %}
{% endif %}

<a class="btn btn-success {% if btnxs %}btn-xs{% endif %} ma-form" href="{{ path('maci_admin_entity_form', {'entity': entity, 'id': item.id}) }}">
	<span class="{{ glyphicon }}" aria-hidden="true"></span>
	{{ label }}
</a>
