
{% if label is not defined %}
{% set label = 'Remove' %}
{% endif %}

{% if btnxs is not defined %}
{% set btnxs = false %}
{% endif %}

<a class="btn btn-danger {% if btnxs %}btn-xs{% endif %} ma-remove" href="{{ path('maci_admin_entity_remove', {'entity': entity, 'id': item.id}) }}">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	{{ label }}
</a>
