
{% if form is defined and form %}

{{ form_start(form, {'attr':{'class':'admin-form container-fluid'}}) }}

{{ form_rest(form) }}

<div class="form-group">
	<em class="optional_fields">[ * {{ 'messages.optional_fields' | matra('Optional Fields') }} ]</em>
</div>

{{ form_end(form) }}

{% endif %}
