
<div class="item-field-value-iterable container-fluid">

{% for key, child in val %}

<div class="item-field-value row">
	{% if child is iterable %}

		<span class="item-field-iterable-title">{{ key }}</span>

		{% include "MaciAdminBundle:Actions:_item_field_iterable.html.twig" with { 'val': child } %}

	{% else %}

	<div class="col-xs-12 col-sm-6">
		<span class="item-field-iterable-key">{{ key }}:</span>
	</div>
	<div class="col-xs-12 col-sm-6">
		<span class="item-field-iterable-val">{{ child }}</span>
	</div>

	{% endif %}
</div>

{% endfor %}

</div>
