
{% set listLen = pager is defined ? pager.pageList|length : list|length %}

{% if listLen %}

{#% include "MaciAdminBundle:Actions:_filters.html.twig" %#}

{% if type is not defined or not type in ['list', 'relation', 'add', 'set'] %}
{% set type = 'list' %}
{% endif %}

{% if multipleArrayViews is not defined %}
{% set multipleArrayViews = ['list', 'relation', 'add'] %}
{% endif %}

{% if multipleCheckbox is not defined %}
{% set multipleCheckbox = (type in multipleArrayViews) %}
{% endif %}

{% if listLen == 1 %}
{% set multipleCheckbox = false %}
{% endif %}

{% include "MaciAdminBundle:Actions:_list_pagination.html.twig" %}

<div class="list list-default list-type-{{ type }}{% if multipleCheckbox %} list-multiple{% endif %}"{% if type in ['list','relation'] and sortable and 1 < listLen %} sortable="{{ sortable }}"{% endif %}>
<table class="table table-striped tablesorter">

<thead>

<tr class="list-header-container">

	{% if multipleCheckbox %}
	<th class="list-header header-blank">&nbsp;</th>
	{% endif %}

	{% if 'id' not in list_fields %}
	<th class="list-header header-listId">
		<span class="list-title">#</span>
	</th>
	{% endif %}

	{% for field in list_fields %}

	{% if field == 'id' %}
	<th class="list-header header-id">
		<span class="list-title">Id</span>
	</th>
	{% elseif field == '_preview' %}
	<th class="list-header no-sort header-preview">
		<span class="list-title">Preview</span>
	</th>
	{% elseif field == '_string' %}
	<th class="list-header header-name">
		<span class="list-title">Name</span>
	</th>
	{% else %}
	<th class="list-header header-{{ field }}">
		<span class="list-title">{{ field|capitalize }}</span>
	</th>
	{% endif %}

	{% endfor %}

	{% if type == 'list' or type == 'relation' %}
	{% if not (type == 'relation' and relation_entity_root_section != '___unset___') %}
	<th class="list-header header-actions list-header-last list-header-remove">
		<span class="list-title">Actions</span>
	</th>
	{% endif %}
	{% elseif type == 'set' %}
	<th class="list-header header-actions list-header-last list-header-set">
		<span class="list-title">Set Item</span>
	</th>
	{% elseif type == 'add' %}
	<th class="list-header header-actions list-header-last list-header-set">
		<span class="list-title">Add Item</span>
	</th>
	{% endif %}

</tr>

{% include "MaciAdminBundle:Actions:_list_multiple_bar.html.twig" %}

</thead>

<tbody>

{% if pager is defined %}

{% for item in pager.pageList %}
	{% include "MaciAdminBundle:Actions:_list_item.html.twig" with {'listId': loop.index0} %}
{% endfor %}

{% else %}

{% for item in list %}
	{% include "MaciAdminBundle:Actions:_list_item.html.twig" with {'listId': loop.index0} %}
{% endfor %}

{% endif %}

</tbody>

<tfoot>

{% include "MaciAdminBundle:Actions:_list_multiple_bar.html.twig" %}

</tfoot>

</table>
</div>

{% include "MaciAdminBundle:Actions:_list_pagination.html.twig" %}

{% else %}

<div class="container-fluid">
	<span class="navbar-text noitems">No Items.</span>
</div>

{% endif %}
