
{% if form_search or form_filters %}
<div id="filtersbar" class="container-fluid">

	{% if form_filters %}
	<nav class="filters-nav">
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<span class="navbar-text">List Filters:</span>
			</li>
		</ul>
	</nav>
	{% endif %}

	{% if form_search %}
	<nav>
		<div class="nav navbar-nav navbar-right">
			{% include "MaciAdminBundle:Actions:_list_search_form.html.twig" %}
		</div>
	</nav>
	{% endif %}

</div>

{% if form_filters %}
{% include "MaciAdminBundle:Actions:_list_filters.html.twig" %}
{% endif %}

{% endif %}
