
{% if list is not defined %}
{% if pager is defined %}
{% set list = pager.pageList %}
{% else %}
{% set list = false %}
{% endif %}
{% endif %}


{% if list|length %}

{#% include "MaciAdminBundle:Actions:_filters.html.twig" %#}

{% if type is not defined or not type in ['list', 'relation', 'add', 'set'] %}
{% set type = 'list' %}
{% endif %}

{% if multipleArrayViews is not defined %}
{% set multipleArrayViews = ['list', 'relation', 'add'] %}
{% endif %}

{% if multipleCheckbox is not defined %}
{% set multipleCheckbox = (type in multipleArrayViews) %}
{% endif %}

{% if list|length == 1 %}
{% set multipleCheckbox = false %}
{% endif %}

{% include "MaciAdminBundle:Actions:_list_pagination.html.twig" %}

<div class="list list-default list-type-{{ type }}{% if multipleCheckbox %} list-multiple{% endif %}"{% if sortable and 1 < list|length %} sortable="{{ sortable }}"{% endif %}>
<table class="table table-striped{% if type != 'relation' or not sortable %} tablesorter{% endif %}">

<thead>

<tr class="list-header-container">

	{% if multipleCheckbox %}
	<th class="list-header">&nbsp;</th>
	{% endif %}

	{% for field in fields %}

	{% if field == 'id' %}
	<th class="list-header id">
		<span class="list-title">Id</span>
	</th>
	{% elseif field == '_preview' %}
	<th class="list-header _preview">
		<span class="list-title">Preview</span>
	</th>
	{% elseif field == '_string' %}
	<th class="list-header name">
		<span class="list-title">Name</span>
	</th>
	{% else %}
	<th class="list-header {{ field }}">
		<span class="list-title">{{ field|capitalize }}</span>
	</th>
	{% endif %}

	{% endfor %}

	{% if type == 'list' or type == 'relation' %}
	<th class="list-header-last list-header-remove">
		<span class="list-title">Actions</span>
	</th>
	{% elseif type == 'set' %}
	<th class="list-header-last list-header-set">
		<span class="list-title">Set Item</span>
	</th>
	{% endif %}

</tr>

{% include "MaciAdminBundle:Actions:_list_multiple_bar.html.twig" %}

</thead>

<tbody>

{% for item in list %}

	{% include "MaciAdminBundle:Actions:_list_item.html.twig" %}

{% endfor %}

</tbody>

<tfoot>

{% include "MaciAdminBundle:Actions:_list_multiple_bar.html.twig" %}

</tfoot>

</table>
</div>

{% include "MaciAdminBundle:Actions:_list_pagination.html.twig" %}

{% else %}

<div class="container-fluid">
	<span class="navbar-text noitems">No Items.</span>
</div>

{% endif %}
