
{% if form_filters %}

<div class="filters-container" data="{{ filters_list|length ? filters_list|join(',') : '' }}" rel="{{ section ~ ':' ~ entity }}">

<div style="display: none;">
{{ form(form_filters) }}
</div>

</div>

{% endif %}
