
{% include "MaciAdminBundle:Actions:_list.html.twig" with { 'type': 'relation' } %}

<div class="container-fluid">

<a class="btn btn-primary" href="{{ path('maci_admin_view_relations', { 'section': section, 'entity': entity, 'action': action, 'id': item.id, 'relation': relation, 'relAction': ( relation_action == 'show' ? 'set' : 'add' ) }) }}">
	{% if relation_action == 'show' %}Set{% else %}Add{% endif %}
</a>

{% for bridge in bridges %}

<a class="btn btn-primary" href="{{ path('maci_admin_view_relations_bridge', { 'section': section, 'entity': entity, 'action': action, 'id': item.id, 'relation': relation, 'relAction': 'bridge', 'bridge': bridge }) }}">
	{% if relation_action == 'show' %}Set{% else %}Add{% endif %} {{ bridge|capitalize }}
</a>

{% endfor %}

</div>
