
{% if form is defined and form %}

<form class="admin-form form-remove container-fluid" action="{{ form.vars.action }}" method="post">

	{% if trashing and trashed %}
	<h3>Are you sure to restore this item?</h3>
	{% elseif trashing %}
	<h3>Are you sure to trash this item?</h3>
	{% elseif action != 'relations' or (action == 'relations' and rm == 'item') %}
	<h3>Are you sure to remove this item?</h3>
	{% else %}
	<h3>Are you sure to remove this association?</h3>
	{% endif %}

	<p>

		{% if action != 'relations' or (action == 'relations' and rm == 'item') %}
		<span class="form-remove-item-label">Item:</span>
		{% else %}
		<span class="form-remove-item-label">Association:</span>
		{% endif %}

		<span class="form-remove-item-value"><b>{{ item }}</b></span>

	</p>

    {{ form_widget(form._token) }}

    <div class="form-group">

    	<button type="submit" id="form_remove" name="form[remove]" class="btn-danger btn">
		{% if trashing and trashed %}
    		Restore
		{% elseif trashing %}
			Trash
		{% else %}
    		Remove
		{% endif %}
    	</button>

    </div>

</form>

{% endif %}
