
{% if form is defined and form %}

<form class="admin-form form-remove container-fluid" action="{{ form.vars.action }}" method="post">

	{% if action != 'relations' or (action == 'relations' and rm == 'item') %}
	<h3>Are you sure to delete this item?</h3>
	{% else %}
	<h3>Are you sure to delete this association?</h3>
	{% endif %}

	<p>

		{% if action != 'relations' or (action == 'relations' and rm == 'item') %}
		<span class="form-remove-item-label">Item:</span>
		{% else %}
		<span class="form-remove-item-label">Association:</span>
		{% endif %}

		<span class="form-remove-item-value"><b>{{ item }}</b></span>

	</p>

    {{ form_rest(form) }}

</form>

{% endif %}
