
{% if form is defined and form %}

<form class="admin-form form-remove container-fluid" action="{{ form.vars.action }}" method="post">

	<h3>Are you sure to delete this item?</h3>

	<p>
		<span class="form-remove-item-label">Item:</span>
		<span class="form-remove-item-value"><b>{{ item }}</b></span>
	</p>

    {{ form_rest(form) }}

</form>

{% endif %}
