
<div class="container-fluid">
<div class="details-list">

	<div class="row details-item odd">

		<div class="col-xs-4">

			<span class="item-label">{{ item_identifier }}</span>

		</div>

		<div class="col-xs-8">

			{% include "MaciAdminBundle:Actions:_item_field.html.twig" with { 'field': item_identifier } %}

		</div>

	</div>

	{% for field in fields %}

	<div class="row details-item {% if loop.index is even %}odd{% else %}even{% endif %}">

		<div class="col-xs-4">

			<span class="item-label">{{ field|capitalize }}</span>

		</div>

		<div class="col-xs-8">

			{% include "MaciAdminBundle:Actions:_item_field.html.twig" %}

		</div>

	</div>

	{% endfor %}

	{% if item.webPreview is defined %}
	<div class="row">
		<img class="item-preview img-responsive" src="{{ asset(item.webPreview) }}" alt="preview" />
	</div>
	{% endif %}

</div>
</div>
