
<div class="container-fluid">
<div class="details-list">

	{% for field, val in data %}

	<div class="row details-item {% if loop.index is even %}even{% else %}odd{% endif %}">

		<div class="col-xs-4">

			<span class="item-label">{{ field|capitalize }}</span>

		</div>

		<div class="col-xs-8">

			{% include "MaciAdminBundle:Actions:_item_field.html.twig" %}

		</div>

	</div>

	{% endfor %}

	{% if item.webPreview is defined %}
	<div class="row">
		<img class="item-preview img-fluid" src="{{ asset(item.webPreview) }}" alt="preview" />
	</div>
	{% endif %}

</div>
</div>
