
<form class="maci_uploader_form" action="{{ uploader_action }}">

	<div class="form-group">

		<label for="file_uploader">File Uploader</label>

		<input id="file_uploader" class="uploader_input" name="file" type="file" multiple="multiple" />

	</div>

	<div class="form-group">

		<button class="btn btn-default uploader_select">Select Files</button>

	</div>

	<div class="uploader_list"></div>

	<div class="form-group">

		<button class="btn btn-default uploader_reset">Reset</button>

		<button class="btn btn-primary uploader_upload">Upload Files</button>

	</div>

</form>
