
{% if uploader %}

<div class="uploader" data-url="{{ uploader }}">

	<div class="uploader-wrapper input">

		<label for="uploader-file-input">File Uploader</label><br/>

		<input id="uploader-file-input" class="uploader-input" name="file" type="file" multiple="multiple" />

		<button class="btn btn-default uploader-select">Select Files</button>

	</div>

	<div class="uploader-wrapper list"></div>

	<div class="uploader-wrapper actions">

		<button class="btn btn-default uploader-reset">Reset</button>

		<button class="btn btn-primary uploader-upload">Upload Files</button>

	</div>

</form>

{% endif %}
