
{% include "MaciAdminBundle:Actions:_relations_header.html.twig" with { 'type': 'relation' } %}

{% include "MaciAdminBundle:Actions:_list.html.twig" with { 'type': 'add' } %}

<div class="container-fluid">
<form class="list-add-form" action="#" method="post">
<input type="hidden" name="ids">
<button class="btn btn-primary list-add-submit">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
</button>
</form>
</div>
