
{% if form is defined and form %}

<form class="admin-form form-remove container-fluid" action="{{ form.vars.action }}" method="post">

	<h3>Are you sure to delete this item?</h3>

    {{ form_rest(form) }}

</form>

{% endif %}
