
<div class="container-fluid">
<div class="details-list">

	<div class="row details-item even entity-detail-id">
		<div class="col-xs-4">
			<span class="item-label">Id</span>
		</div>
		<div class="col-xs-8">
			<span class="item-value">{{ id }}</span>
		</div>
	</div>

	{% for field in details %}

	<div class="row details-item {% if loop.index is even %}even{% else %}odd{% endif %}">

		<div class="col-xs-4">
			<span class="item-label">{{ field.label }}</span>
		</div>

		<div class="col-xs-8">

			{% if field.value is iterable %}
			{% for child in field.value %}
			<span class="item-child">{{ child }}</span>
			{% endfor %}
			{% else %}
			<span class="item-value">{{ field.value }}</span>
			{% endif %}

		</div>

	</div>

	{% endfor %}

</div>
</div>
