

<div class="adminPanel">

	<a href="{{ path('maci_admin_entity_list', {'entity': admin.name}) }}">List</a>

</div>

<div class="adminPanel">

	<a href="{{ path('maci_admin_entity_form', {'entity': admin.name}) }}">New</a>

</div>

