
<div class="row">
	{% if item.id %}
	<h4>Edit:</h4>
	{% else %}
	<h4>New:</h4>
	{% endif %}

<form class="maci-form" action="
	{% if item.id %}
		{{ path("maci_admin_entity_form", {'entity': entity, 'id': item.id}) }}
	{% else %}
		{{ path("maci_admin_entity_new", {'entity': entity}) }}
	{% endif %}
		" method="post" role="form" {{ form_enctype(form) }}>

    {{ form_rest(form) }}

</form>

</div>
