
<section>

	<div class="row">
		<div class="col-xs-4">
			id
		</div>
		<div class="col-xs-8">
			{{ item.id }}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			name
		</div>
		<div class="col-xs-8">
			{{ item }}
		</div>
	</div>

	<div class="row actions">
		<div class="col-xs-4">
			actions
		</div>
		<div class="col-xs-8">
			<a class="ma-form" href="{{ path('maci_admin_entity_form', {'entity': admin.name, 'id': item.id}) }}">
				Edit
			</a>
			<a class="ma-remove" href="{{ path('maci_admin_entity_remove', {'entity': admin.name, 'id': item.id}) }}">
				Remove
			</a>
		</div>
	</div>

</section>
