
{% if list|length %}

<div class="ma-list">

{% for item in list %}

	{% include "MaciAdminBundle:Default:_item.html.twig" with { 'admin': admin, 'item': item } %}

{% endfor %}

</div>

{% else %}

<div class="nocontent">

	<p>No Items.</p>

</div>

{% endif %}
