
{% if list|length %}

<div class="ma-admin-list">

{% for item in list %}

	{% include "MaciAdminBundle:Default:_list_item.html.twig" with { 'entity': entity, 'item': item } %}

{% endfor %}

	<a class="ma-form" href="{{ path('maci_admin_entity_new', {'entity': entity.name}) }}">
		New Item
	</a>

</div>

{% else %}

<div class="row">
	<h3 class="noitems">No Items.</h3>
</div>

{% endif %}
