
{% for message in app.session.flashBag.get('success')  %}
<div class="messages bg-success">{% if message|length %}{{ message }}{% else %}Success!{% endif %}</div>
{% endfor %}

{% for message in app.session.flashBag.get('error')  %}
<div class="messages bg-danger">{% if message|length %}{{ message }}{% else %}Error!{% endif %}</div>
{% endfor %}
