

<nav>
	<span class="leftMenuTitle">Administration</span>
	<ul>

{% for key, item in list if item.menu is defined and item.menu %}

		<li>

			<a href="{{ path('maci_admin_entity', { 'entity': key }) }}">
				{{ item.label }}
			</a>

		</li>

{% endfor %}

	</ul>
</nav>

