
<div class="container-fluid">

<form class="admin-form form-remove" action="{{ form.vars.action }}" method="post">

	<h3>Are you sure to delete this item?</h3>

    {{ form_rest(form) }}

</form>

</div>
