
{% extends "MaciAdminBundle::layout.html.twig" %}


{% block content %}

<h3>{{ entity_label }}</h3>

{% include template with params %}

{% include 'MaciAdminBundle:Default:_list_links.html.twig' with params %}

{% endblock %}

