
{% extends "MaciAdminBundle::layout.html.twig" %}


{% block content %}

<h3>List: {{ entity_label }}</h3>

{% include template with params %}

{% include 'MaciAdminBundle:Link:new.html.twig' with {'entity': entity} %}

{% endblock %}



