
{% extends "MaciAdminBundle::layout.html.twig" %}


{% block content %}

<h3>Remove: {{ entity_label }}</h3>

{% include template with params %}

<br/>
<a class="btn btn-default" href="{{ path("maci_admin_entity", {'entity': entity.name}) }}">Return to List</a>

{% endblock %}



