
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    font-size: 12pt;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 13pt;
}

h4 {
    font-size: 11pt;
}

/*   -----> Layout <-----   */

#sidebar-wrapper {
    background-color: #eee;
}
#page-content-wrapper {
    padding: 65px 0;
    left: 0;
}

/*   -----> Top Navbar <-----   */

.navbar-inverse .navbar-nav > li > a {
    color: #999;
}
#menu-toggle {
    padding: 15px;
    line-height: 20px;
    cursor: pointer;
    color: #ccc;
    display: block;
}
#menu-toggle:hover {
    color: #fff;
}
#menu-toggle > span {
    padding-right: 4px;
}
#menu-toggle.active {
    background-color: #444;
}

/*   -----> Main Menu <-----   */

#mainMenu {
    width: 250px;
}

#mainMenu h3 {
    margin: 0;
    padding: 60px 0 10px 25px;
}

#mainMenu h3,
#mainMenu .nav > li > a {
    color: #333;
    text-transform: uppercase;
    font-size: 9pt;
    letter-spacing: 0.9px;
}

#mainMenu .nav > li > a:hover,
#mainMenu .nav > li > a:focus,
#mainMenu .nav > li.active > a {
    background-color: #ccc;
    color: #000;
}

#mainMenu h3 {
    margin: 0;
    padding: 65px 0 10px 15px;
    font-size: 10pt;
    color: #000;
}

/*   -----> Content Navbar <-----   */

#pathbar.content-navbar .nav {
    background-color: transparent;
}

.content-navbar .nav {
    margin: 0 0 15px 0;
    background-color: #eee;
}

#pathbar.content-navbar .nav > li > a {
    text-decoration: underline;
    color: #999;
}

#pathbar.content-navbar .nav > li > a,
#pathbar.content-navbar .nav > li > span {
    text-transform: uppercase;
    font-size: 9pt;
    line-height: 20px;
}

#pathbar.content-navbar .nav > li > a:hover,
#pathbar.content-navbar .nav > li > a:focus {
    background-color: #eaeaea;
}

#actionsbar.content-navbar .nav > li > a,
#actionsbar.content-navbar .nav > li > span {
    color: #666;
}

#actionsbar.content-navbar .nav > li > a:hover,
#actionsbar.content-navbar .nav > li > a:focus,
#actionsbar.content-navbar .nav > li.active > a {
    background-color: #dadada;
    color: #000;
}

/*   -----> List <-----   */

.list-default {
    padding-bottom: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.list-default tr.list-header .list-title {
    padding: 0 0 0 5px;
    text-transform: uppercase;
    font-size: 10pt;
    display: block;
}

.list-default tr.list-header > th.list-header.id > span {
    padding: 0;
    text-align: center;
    width: 50px;
}

.list-default tr.list-header > th.list-header-actions > span {
    width: 140px;
}

.list-default tr.list-header > th.list-header-add > span,
.list-default tr.list-header > th.list-header-remove > span {
    width: 100px;
}

.list-default tr.list-item.add-item td {
    background-color: #FEEBA9;
}

.list-default tr.list-item .list-item-add {
    display: block;
}

.list-default tr.list-item .list-item-remove {
    display: none;
}

.list-default tr.list-item.add-item .list-item-add {
    display: none;
}

.list-default tr.list-item.add-item .list-item-remove {
    display: block;
}

.list-default tr.list-item > td > a,
.list-default tr.list-item > td > p,
.list-default tr.list-item > td > span,
.list-default tr.list-item > td > .item-field-value {
    padding: 5px;
    font-size: 10pt;
    line-height: 20px;
    margin: 0;
    border: 0;
    display: inline-block;
}

.list-default tr.list-item > td.list-item-id > a,
.list-default tr.list-item > td.list-item-id > p {
    width: 50px;
    text-align: center;
    display: block;
}

.list-default tr.list-item > td.list-item-id > a:hover {
    background-color: #ccc;
}

/*   -----> Filters <-----   */

.admin-form.filters-form {
    padding-bottom: 15px;
}

.admin-form.filters-form label {
    text-transform: uppercase;
    font-size: 9pt;
    padding: 5px;
}

.admin-form.filters-form .btn {
    margin: 26px 0 0 10px;
}

/*   -----> Show <-----   */

.details-item {
    padding: 10px 0;
}

.details-item.even {
    background-color: #eee;
}

/*   -----> Messages <-----   */

.messages {
    font-size: 13pt;
    letter-spacing: 0.4px;
    border-radius: 9px;
    margin: 10px 0;
    padding: 15px;
}

/*   -----> Form <-----   */

.maci_admin_form {
    padding: 0 20px;
}

.maciUploader div {
	padding: 12px;
}

.uploader_list {
    padding-bottom: 15px;
}

.modal-body .maci-form {
    padding: 8px;
}

.a2lix_translations.tabbable {
    padding: 8px;
    background-color: #eee;
    border: 1px solid #666;
    border-radius: 4px;
}

.ad-editor {
	margin: 20px 0 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
    border-radius: 4px;
}

.ad-tooeditor {
	margin: 10px;
}

.ad-tooeditor .btn-group {
    margin-top: 4px;
}

.ad-tooeditor .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fafafa;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-repeat: no-repeat;
    border-color: #ccc #ccc #bbb;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    height: 26px;
}

.cke_source {
    color: #000;
}
